* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111827;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    margin-bottom: 25px;
    color: #111827;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

#result {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #111827;
}